.footer{
    &__content{
        padding: 50px 0;
        background-color: #90D4C6;
        color:#fff;
        font-family: $SecondFontFamily;
        font-weight: 300;
    }
    &__container {
        @include adaptive-value('font-size', 14, 10, 0);
        margin: 0 auto;
        text-align:center;
        hr.line{
            border-width: 0;
            height: 1px;
            background-color: rgb(168, 168, 168);
        }
    }
    &__icon-container{
        @media (max-width: $md4+px) {
            
        }
    }
    &__icon-image{
        fill: #2C7566;
        stroke: red;
        @include adaptive-value('width', 140, 80, 0);
        }
    
    .menu {
        &__body {

                }
        &__link a{
            color: #458D7E;
        }
    }

}
.socials{
    display:flex;
    justify-content: center;
    &__link{
        margin-left:10px;
    }
    &__icon img{
        height: 16px;
        width: 16px;
    }
}
