.footer{
    &__content{
        padding: 50px 0;
        background-color: #90D4C6;
        color:#fff;
        font-family: $SecondFontFamily;
        font-weight: 300;
    }
    &__container {
        @include adaptive-value('font-size', 14, 10, 0);
        margin: 0 auto;
        text-align:center;
        hr.line{
            border-width: 0;
            height: 1px;
            background-color: rgb(168, 168, 168);
        }
    }
    &__icon-container{
        @media (max-width: $md4+px) {
            
        }
    }
    &__icon-image{
        @include adaptive-value('width', 140, 80, 0);
        @media (max-width: $md4+px) {
            margin: 10px 0;
        }
        }

    &__menu{
        width:100%;
        .menu__list{
            @media (max-width: $md4+px) {
                width: 100%;
            }
        }
    }
    .menu {
        &__body {
            @media (max-width: $md4+px) {
                width: 100%;
            }
                }
        &__link a{
            color: #458D7E;
            @media (max-width: $md4+px) {
                margin-right: 20px;
            }
        }
        &__link a:hover{
            color: #fff;
        }
    }

}
.socials{
    display:flex;
    justify-content: center;
    @media (max-width: $md4+px) {
        margin-top: 20px;
    }
    &__link{
        margin-left:10px;
    }
    &__link:nth-child(1) .socials__icon{
        padding-top: 1px;
    }
    &__icon svg{
        fill: $icons;
        &:hover{
            fill:#fff!important;
        }
    }

}
