.section{
    &__header{
        @include adaptive-value('font-size', 40, 32, 0);
    }
}
.info-block__container { 
    display: flex;
    flex-wrap: wrap;
    .info-block { 
        flex: 1.5 0.8 200px;

    }
    @media (max-width: $md4+px) {
        display: block;
    }
} 
.main-block{
    @media (max-width: $md4+px) {
            display: block;
        }
}
.main-block:nth-child(1) .text-container{
    order: -1;
}

.main-block:nth-child(3) .text-container:nth-child(1){
    background: url("../img/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    @media (max-width: $md4+px) {
        background-position: center bottom;
        background-size: auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }
}
.main-block:nth-child(3) .text-container:nth-child(2){
    background: url("../img/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center;
    @media (max-width: $md4+px) {
        background-size: auto;
        background-position: center bottom;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }
}
.img-container { 
    position: relative;
    padding: 0 0 50% 0;
    overflow: hidden;
.ill {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    @media (max-width: $md4+px){
        object-fit: initial;
    } 
}
}
.main-block.info-block .text-container { 
padding: 150px;
background-color: #F2F2F2;
@media (max-width: $md2+px){
    padding: 30px;
    text-align: center;
}
@media (max-width: $md4+px){
    padding: 68px 25px;
.text { 
    line-height: 1.75;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    color: rgba(128, 131, 151, 1);
}
.title{
    font-size: 32px;
    margin:0;
}
.btn{
    margin-top: 25px;
    font-size: 16px;
}
} 

}
.main_content{
    &__header{
        margin:0;
    }
    .main-block.info-block div{
        box-sizing: border-box;
        width: 50%;
        @media (max-width: $md4+px){
            width: 100%;
        } 
    }
    .main-block.info-block{
        display:flex;
        @media (max-width: $md4+px){
            display:block;
        }    
    }
    .main-block.info-block:nth-child(3)
    { .text-container{
        padding: 300px 150px 50px 150px;
        text-align: center;
        @media (max-width: $md2+px){
            padding: 150px 30px;
            height: 350px;
        }
        @media (max-width: $md4+px){
            padding: 50px 25px;
            height: 600px;
            .title{
                font-size: 28px;
                margin:0;
            }
        }
    }
}

    .img-container{
        padding: 0;
        @media (max-width: $md4+px){
            height: 312px;
            margin-right: 0;
        }
    }

    .info-block~.info-block{
        @media (max-width: $md4+px){
            margin-top: 0px;
        }
    }
    .ill{
        @media (max-width: $md4+px){
        position: static;
    }
    }

}

.info-block__container.introduction__information{
    flex-wrap: nowrap;
}
.reviews{
    margin-bottom: 100px;
    margin-top: 100px;
    @media (max-width: $md4+px){
        margin-top: 70px;
    }
    &__block{
        margin-right: 30px;
        @media (max-width: $md4+px){
            margin-top: 60px;
            margin-right: 0;
        }
    }
    &__block:last-child{
        margin-right: 0;
    }
&__client-photo-wrapper{
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: center;
}

&__client-photo{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    .photo{
        width: 100%;
        height: 100%;
    }
}

&__title{
    color: #A7AAAD;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 1.2;
    @media (max-width: $md4+px){
        font-size: 16px!important;
    }
}
&__client-text{
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color:#5B636D;
    margin-top:50px;
}
&__client-name{
    .name{
        color:#24303E;
        font-size: 18px;
        line-height: 1.4;
        font-family: $fontFamily;
        text-align: center;
    }
}
&__client-position{
    color:#A7AAAD;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    font-family: $SecondFontFamily;
}
}

.photo-section{
    &__container.info-block__container{
        display: flex;
        .info-block.photo-block{ 
        @media (max-width: $md4+px){
            flex: none;
            width: 50%;
            height: 200px;
        }
        .img-container{
            padding: 0 0 120% 0;
            @media (max-width: $md4+px){
                width: 100%;
                height: 100%;
                padding: 0;
            }
        }
    }
}
}