@import url('/src/scss/normalize.css');
@font-face {
    font-family: "Fraunces";
    src: url("/fonts/Fraunces-Black.woff2");
}
@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-SemiBold.woff2");
}
@import 'mixins/adaptive-value';
@import 'support/variables';

// ---------------main-components-styles-----------------------//
body{
box-sizing: border-box;
font-size: 20px;
a{
    text-decoration: none;
    color: #fff;
}
//     @media (max-width: $md1+px) {
//         font-size: 18px;
//     }
//     @media (max-width: $md2+px) {
//         font-size: 16px;
//     }
//     @media (max-width: $md3+px) {
//         font-size: 14px;
//     }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-family: $fontFamily;
    font-weight: normal;
}
h2.title{
    @include adaptive-value('font-size', 26, 18, 0);
    display: block;
    line-height: 1.8;
    margin: 30px;
    @media (max-width:$md3+px){
        margin: 20px;
    }
    @media (max-width:$md4+px){
        margin: 20px 0;
        text-align: center;
        font-size: 28px;
    }
}
.text {
    font-family: $SecondFontFamily;
    font-weight: 300;
    line-height: 1.4;
    @media (max-width:$md4+px){
        font-size: 16px;
    }
}
.btn {
    font-family: $fontFamily;
    font-weight: 600;
    line-height: 22 / 16 * 100%;
    text-transform: uppercase;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #24303E;
    font-size: 15px;
    position:relative;
    z-index:3;
}
.btn:after {
    display:block;
    position: absolute;
    content: "";
    width: 110%;
    height: 5px;
    background-color: #FAD400;
    bottom: 3px;
    left: -5px;
    opacity: 0.25;
    border-radius: 28px;
    z-index:-1;
}
.btn:hover::after{
    opacity: 1;
    
}

.btn.second-btn::after{
    background-color: #FE7766;
}

.btn.second-btn:hover::after{
    opacity: 1;
}
// ---------------container styles-----------------------//
@import 'elements/container';

// ---------------header styles-----------------------//
@import 'elements/header';

// ---------------menu styles-----------------------//
@import 'elements/menu';

// ---------------main page styles-----------------------//
@import 'elements/heading';

// ---------------sections styles-----------------------//

@import 'elements/sections';

// ---------------footer styles-----------------------//
@import 'elements/footer';